<div class="container-fluid">
  <div class="row">
    <div class="col g-0">
      <div class="bg-image" style="filter: blur(5px);"></div>

      <div class="contenedorTituloPrincipal">
        <a href="/"><img src="/images/logo.png" class="logo" alt="" /></a>
        <div
          class="d-flex justify-content-center align-items-center flex-column bg-dark mt-3"
          style="border-radius: 20px 20px 20px 20px"
        >
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="pills-login"
              role="tabpanel"
              aria-labelledby="tab-login"
            >

              <div class="text-center text-white mt-3 mb-3">
                <p>Recupera Password</p>
              </div>
              <form
                action="/recovery/pass"
                method="post"
                style="width: 300px; padding: 10px;"
              >
                <div class="mb-4">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      value="{{validEmail}}"
                      class="form-control border-0 border-bottom border-dark"
                      id="inputEmailRegister"
                      name="email"
                      placeholder="Email"
                    />
                    <label for="input-passwordLogin"><i
                        class="bi bi-envelope-at me-1"
                      ></i>Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      value="{{validToken}}"
                      class="form-control border-0 border-bottom border-dark"
                      id="inputEmailRegister"
                      name="token"
                      placeholder="Token"
                    />
                    <label for="input-passwordLogin"><i
                        class="bi bi-eye-slash me-1"
                      ></i>Token</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control border-0 border-bottom border-dark"
                      id="inputEmailRegister"
                      name="password"
                      placeholder="password"
                    />
                    <label for="input-passwordLogin"><i
                        class="bi bi-eye-slash me-1"
                      ></i>Nueva Password</label>
                  </div>
                  <div
                    class="w-100 mt-4 d-flex justify-content-center align-items-center flex-column text-white"
                  >
                    <button
                      type="submit"
                      class="btn btn-primary btn-block mb-4 w-100"
                    >
                      Enviar
                    </button>
                    <div
                      class="w-100 d-flex justify-content-between align-items-center flex-column gap-1"
                    >
                      <div class="row w-100 text-center">
                        <p>te logueaste?
                          <a href="/api/sessions/login">Login</a></p>
                      </div>
                      <div class="row">
                        <p>No sos miembro?
                          <a href="/api/sessions/register">Register</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>